doctype html
html
  head
    title ExcluSieve
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Gruppo&family=Passions+Conflict&family=Square+Peg&family=Tangerine:wght@400;700&display=swap" rel="stylesheet")
  body
    header 
      div.header-wrapper 
        div.title-wrapper(onclick="location.href='/'")
          h1 Exclu
          h1.alt-title Sieve
        div.header-login-wrapper
          if currentUser 
            img.profile-img(src="./images/user.png", alt="profile" height="50px")
            a(href="/logout" style="color:silver") logout 
          else 
            div.header-login-item 
              img.login-img(src="images/login.png", alt="Login" height='18px')
              a(href="/login") login 
            div.header-login-item
              img.login-img(src="images/register.png", alt="Login" height='18px')
              a(href="/sign-up") register



    main 
      block content
